doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Bootstrap Simple Login Form
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style(type='text/css').
        .login-form {
        width: 340px;
        margin: 50px auto;
        }
        .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
        }
        .login-form h2 {
        margin: 0 0 15px;
        }
        .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
        }
        .btn {
        font-size: 15px;
        font-weight: bold;
        }
.login-form
    form(action='/examples/actions/confirmation.php' method='post')
        h2.text-center Log in
        .form-group
            input.form-control(type='text' placeholder='Username' required='required')
        .form-group
            input.form-control(type='password' placeholder='Password' required='required')
        .form-group
            button.btn.btn-primary.btn-block(type='submit') Log in
        .clearfix
            label.pull-left.checkbox-inline
                input(type='checkbox')
                |  Remember me
            a.pull-right(href='#') Forgot Password?
    p.text-center
        a(href='#') Create an Account