link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
script(src='//code.jquery.com/jquery-1.11.1.min.js')
// ---- Include the above in your HEAD tag --------
style.
    .form-gap
    {
    padding-top: 70px;
    }
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
.form-gap
.container
    .row
        .col-md-4.col-md-offset-4
            .panel.panel-default
                .panel-body
                    .text-center
                        h3
                            i.fa.fa-lock.fa-4x
                        h2.text-center Forgot Password?
                        p You can reset your password here.
                        .panel-body
                            form#register-form.form(role='form' autocomplete='off' method='post')
                                .form-group
                                    .input-group
                                        span.input-group-addon
                                            i.glyphicon.glyphicon-envelope.color-blue
                                        input#email.form-control(name='email' placeholder='email address' type='email')
                                .form-group
                                    input.btn.btn-lg.btn-primary.btn-block(name='recover-submit' value='Reset Password' type='submit')
                                input#token.hide(type='hidden' name='token' value='')
